<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">

    <context:annotation-config/>

    <!-- Define DormRoom beans -->
    <bean id="roomA" class="springcore.DormRoom3">
        <constructor-arg value="11"/>
        <constructor-arg value="GD"/>
    </bean>

    <bean id="roomB" class="springcore.DormRoom3">
        <constructor-arg value="91"/>
        <constructor-arg value="GH"/>
    </bean>

    <!-- Define Freshman bean -->
    <bean id="student" class="springcore.Freshman3">
        <constructor-arg value="Akhila"/>
    </bean>

</beans>
